@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    padding-top: 20px;
}

aside {
    width: 20%;
    float: left;
    padding: 10px;
}

aside img {
    max-width: 100%;
    max-height: none;
}

section {
    width: 40%;
    float: left;
    padding: 10px;
}

article {
    width: 40%;
    float: left;
    padding: 10px;
}

@media screen and (max-width:600px) {
    aside, section, article {
        width: 100%;
    }
}